<style>
    button {
        width: 150px;
        height: 75px;
        margin: 2px;
    }
</style>
<table class="col-xs-8">
    <tr>
        <td colspan="4"><input type="text" ng-model="$ctrl.displayText" style="width:100%; background-color:#FFF" disabled placeholder="0" class="text-right input-lg"></td>
    </tr>
    <tr>
        <td><button type="button" class="btn btn-primary" (click)="processInput('M+');"><h4>M+</h4></button></td>
        <td><button type="button" class="btn btn-primary" (click)="processInput('M-');"><h4>M-</h4></button></td>
        <td><button type="button" class="btn btn-primary" (click)="processInput('MR');"><h4>MR</h4></button></td>
        <td><button type="button" class="btn btn-primary" (click)="processInput('MC');"><h4>MC</h4></button></td>
    </tr>
    <tr>
        <td><button type="button" class="btn btn-primary" (click)="processInput('+');"><h4>+</h4></button></td>
        <td><button type="button" class="btn btn-primary" (click)="processInput('-');"><h4>-</h4></button></td>
        <td><button type="button" class="btn btn-primary" (click)="processInput('*');"><h4>*</h4></button></td>
        <td><button type="button" class="btn btn-primary" (click)="processInput('/');"><h4>/</h4></button></td>
    </tr>
    <tr>
        <td><button type="button" class="btn btn-primary" (click)="processInput('1');"><h4>1</h4></button></td>
        <td><button type="button" class="btn btn-primary" (click)="processInput('2');"><h4>2</h4></button></td>
        <td><button type="button" class="btn btn-primary" (click)="processInput('3');"><h4>3</h4></button></td>
        <td><button type="button" class="btn btn-danger" (click)="processInput('C');"><h4>C</h4></button></td>
    </tr>
    <tr>
        <td><button type="button" class="btn btn-primary" (click)="processInput('4');"><h4>4</h4></button></td>
        <td><button type="button" class="btn btn-primary" (click)="processInput('5');"><h4>5</h4></button></td>
        <td><button type="button" class="btn btn-primary" (click)="processInput('6');"><h4>6</h4></button></td>
        <td><button type="button" class="btn btn-primary" (click)="processInput('CE');"><h4>CE</h4></button></td>
    </tr>
    <tr>
        <td><button type="button" class="btn btn-primary" (click)="processInput('7');"><h4>7</h4></button></td>
        <td><button type="button" class="btn btn-primary" (click)="processInput('8');"><h4>8</h4></button></td>
        <td><button type="button" class="btn btn-primary" (click)="processInput('9');"><h4>9</h4></button></td>
        <td rowspan="2"><button type="button" class="btn btn-primary" style="height:100%;padding:0px;" (click)="processInput('=');"><h4>=</h4></button></td>
    </tr>
    <tr>
        <td><button type="button" class="btn btn-primary" (click)="processInput('0');"><h4>0</h4></button></td>
        <td><button type="button" class="btn btn-primary" (click)="processInput('.');"><h4>.</h4></button></td>
        <td><button type="button" class="btn btn-primary" (click)="processInput('+-');"><h4>+-</h4></button></td>
    </tr>
</table>
<div class="col-xs-4"></div>